<div class="card" id="main">
    <div class="card-body">
        <h3>My Favorite Collection</h3>
        <div class="container text-center">
            <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
              <div class="col">
                <div class="p-3">
                    <div class="contain">
                        <div class="card" style="width: 15rem;">
                            <img src="dress/coll1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="card-body" style="display: flex;justify-content: center;">
                              <button type="button" class="btn btn-success"><i class="bi bi-bag-heart"></i>cart</button>
                              <button type="button" class="btn btn-danger"><i class="bi bi-x-circle"></i>cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3">
                    <div class="contain">
                        <div class="card" style="width: 15rem;">
                            <img src="dress/coll2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="card-body" style="display: flex;justify-content: center;">
                              <button type="button" class="btn btn-success"><i class="bi bi-bag-heart"></i>cart</button>
                              <button type="button" class="btn btn-danger"><i class="bi bi-x-circle"></i>cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3">
                    <div class="contain">
                        <div class="card" style="width: 15rem;">
                            <img src="dress/coll3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="card-body" style="display: flex;justify-content: center;">
                              <button type="button" class="btn btn-success"><i class="bi bi-bag-heart"></i>cart</button>
                              <button type="button" class="btn btn-danger"><i class="bi bi-x-circle"></i>cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="p-3">
                    <div class="contain">
                        <div class="card" style="width: 15rem;">
                            <img src="dress/coll4.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="card-body" style="display: flex;justify-content: center;">
                              <button type="button" class="btn btn-success"><i class="bi bi-bag-heart"></i>cart</button>
                              <button type="button" class="btn btn-danger"><i class="bi bi-x-circle"></i>cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>

